#Bbtn {
	position:absolute;
	width:100;
	height:100;
	top:50%;
	margin-top:-25px;
}
#Fbtn {
	position:absolute;
	width:100;
	height:100;
	top:50%;
	left:100%;
	margin-left:-50px;
	margin-top:-25px;
}
#SealBox {
	margin-left:50px;
	margin-right:50px;
}